:host{
  display: grid;
  grid-template-columns: repeat(var(--bingo-grid-columns), 1fr);
  grid-template-rows: repeat(var(--bingo-grid-rows), 1fr);
  height: 100%;
}
button{
  border: 3px white solid;
  background-color: black;
  color: white;
  padding: 8px;
  &:hover{
    background-color: lighten($color: black, $amount: 30%);
  }
  &:active{
    border-color: black;
    background-color: white;
    color: black;
  }
}