@import '../variables.scss';
:host{
  background-color: darken($main-color, 20%);
  color: $quaternary-color;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  button{
    border: 3px $quaternary-color solid;
    background-color: darken($main-color, 20%);
    color: $quaternary-color;
    padding: 8px;
    &:hover{
      background-color: lighten($color: $main-color, $amount: 5%);
    }
    &:active{
      border-color: $main-color;
      background-color: $quaternary-color;
      color: $main-color;
    }
  }
  nav{
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.9);
    >div{
      height: 100%;
      width: 300px;
      background-color: $main-color;
      box-sizing: border-box;
      padding-left: 8px;
    }
  }
}